body {
	margin: 0;
	background-color: rgb(220, 220, 220);
	color: rgb(45, 45, 55);
	/*font-family: "Arial", "Monserrat", "Avenir";*/
 text-align: center;
 background: #f2f6f8;
}
h1 {
	font-size: 50px;
	padding: 2px;
}

h3 {
	font-size: 20px;
	padding: 2px;

}

#imgMap {
	border: 5px dashed red;
	padding: 2px;

}

#imgCharList {
	padding: 2px;

}

#btnBox{
	color: black;
	font-size: 40px;
	background-color: cyan;
	max-width: 400px;
}

button {
	padding: 2px;
}

.myCanvas{
    position:relative;
    z-index:20;
		border:1px solid #d3d3d3;
    background-color: #F0F8FF;
		background-image: url("images/beach.png");
		background-size: 3840px 1944px;
		background-repeat: no-repeat;
}

.sandcastle1{
	background-image: url("images/Sandcastle1.png");
  position: absolute;
}
